footer {
  padding-top: 54px;
  padding-bottom: 20px;
  background-color: #303030;
  text-align: center;
  color: white;
}
footer h2 {
  margin: 18px,0px,0px,0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer span {
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-size: 12px;
  text-transform: lowercase;
  letter-spacing: 2px;
}
footer h3 {
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 2px;
}
