#our_team {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/our team/background_our_team.jpg');
}
