#pricing {
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/pricing/background_pricing.jpg');
}
