#portfolio {
	text-align: center;
}

#portfolio p {
/*text-align: justify;
max-width: 1014px;
margin-left: 170px;
margin-left: 286px;
margin-right: 286px;*/
line-height: 1.6;
font-family: 'CrimsonText Roman', sans-serif;
font-size: 18px;
}
#portfolio div.portfolio_photos {
	
	display: flex;   
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
} 