#services {
  padding: 12px 100px 12px 100px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-image: none;
  overflow: hidden;
}
#services h2 {
  padding-top: 40px;
  padding-bottom: 80px;
}
#services div {
  float: left;
  width: 33.3%;
  background-color: transparent;
  margin-top: 0px;
  padding: 12px 28px 12px 28px;
  border: none;
  text-align: center;
}
#services div h2.servicename {
  font-family: 'Raleway ExtraBold', sans-serif;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
}
#services div p.servicetext {
  text-align: center;
  text-transform: lowercase;
  padding-top: 10px;
  padding-bottom: 12px;
}
