.fontProperties {
	font-family: 'Raleway ExtraBold', sans-serif;
	font-size: 48px;
	color: black;
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #ffcc00;
}

.button {
	border-style: solid;
	border-width: 3px;
	border-color: #ffcc00;
	background: transparent;
	
	font-family: 'Raleway Bold', sans-serif;
	font-style: bold;
	font-size: 24px;
	text-transform: uppercase;

	padding: 24px 56px;
}

#carpathian header {
	max-width: 1140px;
	text-align: center;
}

#carpathian header div {
	float: left;
	margin-left: 200px;
	margin-top: 5px;
	vertical-align: all;
}

#carpathian {
	/*height: 800px;*/
	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/banner/background.jpeg'); 
}
#carpathian h1 {
	font-family: 'Raleway ExtraBold', sans-serif;
	font-style: bold;
	font-size: 72px;
		text-align: center;
		text-transform: uppercase;
		color: #ffcc00;
	/*margin-top: 140px;*/
	padding-top: 170px;
	clear: both;
	
}
#carpathian h2 {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-size: 24px;
		text-align: center;
		text-transform: lowercase;
		color: white;
		margin-top: 16px;
		padding-bottom: 180px;
}

/*#carpathian header div > img {
	/*float: left;
	margin-top: 25px;
	margin-left: 90px;
}*/
#carpathian header ul > li {
	float: right;
}
#carpathian header ul > li a {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	padding: 14px 16px;
}


#about_us {	
	/*height: 750px;*/ 
	text-align: center;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/about us/background_about_us.jpeg');
}

#about_us h2 {
padding-top: 122px;
margin-bottom: 150px;
}

#about_us p {
text-align: justify;
/*max-width: 1014px;
margin-left: 170px;*/
margin-left: 286px;
margin-right: 286px;
line-height: 1.6;
font-family: 'CrimsonText Roman', sans-serif;
font-size: 18px;
}

#about_us button {
	margin-top: 94px;
	margin-bottom: 120px;
}

#portfolio {
	text-align: center;
}

#portfolio p {
/*text-align: justify;
max-width: 1014px;
margin-left: 170px;
margin-left: 286px;
margin-right: 286px;*/
line-height: 1.6;
font-family: 'CrimsonText Roman', sans-serif;
font-size: 18px;
}
#portfolio div.portfolio_photos {
	
	display: flex;   
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
} 

#our_team {	
	/*height: 800px;*/

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/our team/background_our_team.jpg');
}
#our_skills {	
	/*height: 715px;*/

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/our skills/background_our_skills.jpg');
}
#quote {	
	/*height: 420px;*/
	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/quote/background_quote.jpg');

	padding-top: 123px;
	padding-bottom: 123px;
}

#quote div.left {
	text-align: left;
	}
#quote p.quote {
	text-align: center;
	font-family: 'Crimson Text', serif;
	font-size: 34px;
	color: white;
}
#quote div.right {
	text-align: right;
}
#quote p.author {
	text-align: right;
	font-family: 'Raleway', serif;
	font-size: 24px;
	color: white;
}


#pricing {	
	/*height: 900px;*/

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/pricing/background_pricing.jpg');
}


#form {
	text-align: center;
	padding-top: 5px;
	font-family: 'Raleway', sans-serif;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../img/contact_us/background.png');
}

#form h2 {
	font-style: bold;
	font-size: 48px;
	color: #fff;
		text-align: center;
		text-transform: uppercase;
		text-decoration: underline;
		text-decoration-color: #ffcc00;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
	}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
	}

::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
	}


	#form input {
		padding-left: 10px;
		text-align: left;
		color: white; 
		border-style: solid;
		border-width: 1px;
		border-color: #fff;
		background: transparent;
		text-transform: uppercase;
	}

	#form textarea {
		color: white;
		border-style: solid;
		border-width: 1px;
		border-color: #fff;
		margin-top: 5px;
		resize: none;
		overflow:auto;
		background: transparent;
		text-transform: uppercase;
	}
	
	#form input[type='submit'] {
		position: relative;
		right: 172px;
		width: 160px; 
		padding: 16px 22px 16px 20px;
		margin-bottom: 4px;
		border: none;
		background: #f4c60b;
		font-size: 10px;
		color: black;
		font-weight: bold;
		text-align: center;
		cursor: pointer;
	}

footer {
	padding-top: 54px;
	padding-bottom: 20px;
	background-color: rgb(48,48,48);
	text-align: center;
	color: white;
}
	footer h2 {
		margin: 18px,0px,0px,0px; 
		padding: 0px;
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 1px
	}
	footer span {
		margin-top: 0px; 
		padding-top: 0px;
		font-family: 'Crimson Text', serif;
		font-style: italic;
		font-size: 12px;
		text-transform: lowercase;
		letter-spacing: 2px
	}
	footer h3 {
		padding-top: 20px;
		font-family: 'Raleway', sans-serif;
		font-style: normal;
		font-size: 12px;
		text-transform: none;
		letter-spacing: 2px
	}
